img {
  max-width: 100%;
}

header {
  background: #2C3E50;
  padding: 25px;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  margin-top: 5px;
  display: block;
}

header .logo:hover {
  text-decoration: none;
}

header .menu a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  padding: 15px 18px;
}

header .menu a:hover {
  background: none;
  color: #18BC9C;
}

header .menu li.active a, header .menu li.active:hover a {
  background: #18BC9C;
}

footer {
  background: #2C3E50;
  color: #fff;
  padding: 20px 0;
}

main > section {
  padding: 90px 0;
}

.bg-green {
  background: #18BC9C;
  color: #fff;
}

p {
  font-size: 20px;
}

#info {
  color: #fff;
}

#info h1 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

#info h4 {
  font-size: 30px;
}

#info img {
  width: 210px;
  border-radius: 120px;
}

.star {
  height: 4px;
  background: #fff;
  width: 300px;
  margin: 25px auto;
  text-align: center;
}

.star i {
  position: relative;
  top: -12px;
  font-size: 29px;
  background: #18BC9C;
  padding: 0 7px;
}

.star.blue {
  background: #2C3E50;
}

.star.blue i {
  background: #fff;
  color: #2C3E50;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

#portifolio ul {
  list-style: none;
  padding: 0;
}

#portifolio ul li {
  margin-bottom: 40px;
}

#portifolio .projects .content {
  position: relative;
}

#portifolio .projects a {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(24, 188, 156, 0.8);
  color: #fff;
  font-size: 36px;
  right: 0;
  bottom: 0;
  opacity: 0.0;
  transition: opacity 500ms;
}

#portifolio .projects a:hover {
  opacity: 1;
}

#portifolio .projects a i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -16px;
}

#project-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow: auto;
  display: none;
}

#project-page .content {
  width: 600px;
  margin: auto;
  text-align: center;
}

#project-page p {
  margin-top: 30px;
}

#project-page .close-project {
  color: #bbb;
  margin-right: 20px;
  margin-top: 10px;
  display: block;
}

#about .row {
  margin-top: 50px;
}

#contact p {
  margin-top: 50px;
}
