header {
  background: #2C3E50;
  padding: 25px;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  margin-top: 5px;
  display: block;
}

header .logo:hover {
  text-decoration: none;
}

header .menu a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  padding: 15px 18px;
}

header .menu a:hover {
  background: none;
  color: #18BC9C;
}

header .menu li.active a, header .menu li.active:hover a {
  background: #18BC9C;
}

footer {
  background: #2C3E50;
  color: #fff;
  padding: 20px 0;
}
